.text_companies {
    display: block;
    text-align: center;
    font-size: 32px;
    color: #244D4D;
    margin-inline: auto;
    margin-top: 140px;
}

.icon_companies {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin-inline: auto;
    margin-top: 40px;

}