.header {
    display: flex;
    align-items: center;
}

.header__name {
    font-size: 24px;
    color: #244D4D;
    flex-shrink: 0;
}

.header__links {
    margin: 0 auto;
    color: #161616;
}

.header__links_style {
    font-size: 16px;
    list-style: none;
    display: flex;
    gap: 60px;
    margin: 0;
    padding: 0;
}

.header__tools {
    display: flex;
    gap: 26px;
    flex-shrink: 0;
}