.header {
    display: flex;
    align-items:center;
    padding-left: 20px;
    padding-right: 20px;
    gap: 200px;
    
}

.header__name {
    font-size: 24px;
   
}


.header__links_style {
    font-size: 16px;
    list-style: none;
    display: flex;
    gap: 60px;
    flex: 1;
}

.header__tools {
    display: flex;
    gap: 26px;
}

.description {
    display: flex;
    color: white;
    font-size: 56px;
    height: 560px;
    text-align: left;
    
}

.description__left {
    padding-left: 20px;
}

.description__right {
    background-color: #154444;
    margin-right: 20px;
    margin-bottom: unset;
    padding-left: 20px;
    
}

.description__right_button {
    width: 172px;
    height: 56px;
}

p {
    font-size: 20px;
}